<configuration>
  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
  </contextListener>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <!-- NOTE: this truncates messages -->
      <pattern>%d{HH:mm:ss.SSS} %-5level %X{akkaSource:-None} %logger{10} - %.-250msg%n</pattern>
    </encoder>
  </appender>
  <appender name="file" class="ch.qos.logback.core.FileAppender">
    <file>server.log</file>
    <append>true</append>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %-5level %X{akkaSource:-None} %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  <root level="INFO">
    <appender-ref ref="file" />
    <appender-ref ref="STDOUT" />
  </root>
  <logger name="org.ensime" level="DEBUG" />
  <logger name="akka" level="DEBUG" />
  <logger name="scala.tools" level="WARN" />
  <logger name="org.ensime.server.RichPresentationCompiler" level="WARN" />
  <logger name="org.ensime.server.SwankProtocol" level="TRACE" />
</configuration>
