/* Body resets
   -------------------------------------------------- */
* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  background-color: #fff;
  color: #666;
  font-family: Menlo, Monaco, monospace;
  font-size: 14px;
  line-height: 1.5;
  padding: 20px;
}
p {
  margin: 0 0 20px;
}
h1, h2, h3 {
  color: #111;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.1;
  margin: 30px 0 20px;
  position: relative;
  text-rendering: optimizeLegibility;
}
h1:before, h2:before, h3:before {
  color: #ccc;
  display: none;
  position: absolute;
  top: auto;
}
h1:before {
  content: "*";
  left: -1.25em;
}
h2:before {
  content: "**";
  left: -2em;
}
h3:before {
  content: "***";
  left: -2.5em;
}
i, em, b, strong {
  padding-left: .1em;
  padding-right: .1em;
}
b, strong {
  color: #333;
  font-weight: bold;
}
b:before, b:after, strong:before, strong:after {
  content: "*";
}
i:before, i:after, em:before, em:after {
  content: "/";
}
hr {
  border: 0;
  margin: 0;
}
hr:after {
  color: #ccc;
  content: "----------------------------------------------------------------";
  display: block;
  margin: 20px 0;
}
ul, ol {
  margin: 0 0 20px;
  padding: 0;
}
code, pre {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
code {
  color: #d14;
}
code:before, code:after {
  color: #ccc;
  content: "=";
}
pre {
  background-color: #f5f5f5;
  border-radius: 3px 3px 3px 3px;
  display: block;
  font-size: 18px;
  line-height: 28px;
  margin: 0 0 14px;
  padding: 15px;
  white-space: pre-wrap;
  white-space: pre;
  word-break: break-all;
  word-wrap: break-word;
}
blockquote {
  border-left: 8px solid #e5e5e5;
  color: #999;
  margin: 0 30px 20px -22.5px;
  padding: 0 0 0 20px;
}
blockquote p:last-child {
  margin-bottom: 0;
}
img {
  border-radius: 5px;
  display: block;
  margin: 0;
}
a {
  color: #000;
  font-weight: inherit;
  line-height: inherit;
  text-decoration: none;
}
sup a:before {
  content: "[";
}
sup a:after {
  content: "]";
}
a:hover {
  text-decoration: underline;
}
table {
  line-height: 2.5;
  margin-bottom: 15px;
  max-width: 100%;
  width: 100%;
}
table td, table th {
  padding: 0 15px;
}
table th.left, table td.left {
  text-align: left;
}
table th.right, table td.right {
  text-align: right;
}
/******************************************************/
/* body */
.container {
  margin: 0 auto;
  max-width: 770px;
}
/* head */
.masthead {
  color: #888;
}
.masthead:after {
  color: #ccc;
  content: '----------------------------------------------------------------';
  display: block;
  margin: 10px 0;
}
.masthead a {
  color: #333;
}
.masthead ul {
  list-style: none;
}
.masthead li {
  display: inline-block;
}
.masthead li + li:before {
  color: #ccc;
  content: "\00B7 \00a0";
  display: inline-block;
}
.masthead .avatar {
  background-color: #fff;
  float: right;
  margin-bottom: -100%;
  margin-right: 10%;
  margin-top: -100px;
  position: relative;
  width: 200px;
}
/* post */
.post {
  position: relative;
}
.post:after {
  color: #ccc;
  content: "----------------------------------------------------------------";
  display: block;
}
.post img {
  max-width: 100%;
}
.post li {
  list-style: none outside none;
}
.post ul > li:before {
  color: #ccc;
  content: "- ";
  margin-left: -1.25em;
}
.post ol {
  counter-reset: o-list;
}
.post ol > li:before {
  color: #ccc;
  content: counter(o-list) ") ";
  counter-increment: o-list;
  margin-left: -1.85em;
}

/* special for li in pre */
.post pre li {
  list-style-type: decimal;
}

.post pre li:before {
  display: none;
}

/* meta info */
.post-info {
  color: #999;
  display: inline-block;
  margin: -10px 0 -10px;
}
.post-info + .post-info:before {
  content: "\2223 \00a0";
}
.post-meta:after {
  color: #ccc;
  content: "----------------------------------------------------------------";
  display: block;
  margin-top: -1px;
}

/* table of content */
#table-of-contents {
  border-bottom-left-radius: 5px;
  border:1px solid #e1e1e8;
  box-shadow: 0 0 1em #777777;
  max-height: 80%;
  overflow: auto;
  position: fixed;
  right: 0;
  text-align: right;
  top: 0;
  z-index: 200;
}

#table-of-contents h2 {
  font-weight: normal;
  max-width: 20em;
  padding-bottom: 0.05em;
  padding-left: 0.5em;
  padding-top: 0.05em;
}

#table-of-contents ul {
  margin-bottom: 10pt;
  margin-left: 14pt;
  padding: 0
}

#table-of-contents li {
  list-style: none;
  margin: 1px;
  padding: 0;
}

#table-of-contents ul>:first-child {
  color: blue;
}

#table-of-contents #text-table-of-contents {
  display: none;
  text-align: left;
}

#table-of-contents:hover #text-table-of-contents {
  display: block;
  margin-top: -1.5em;
  padding: 0.5em;
}

/* footer */
.footer {
  color: #999;
  font-size: 15px;
  margin: 80px 0 0;
  text-align: center;
}
.footer > p {
  line-height: 1.5;
  margin: 0;
}
.footpara {
  display: inline;
}

/* Responsive
   -------------------------------------------------- */

@media (min-width: 768px) {
  /* Increase body padding and font-sizes */
  body {
    font-size: 18px;
    line-height: 1.75;
    padding: 30px;
  }
  h1:before, h2:before, h3:before {
    display: inline;
  }
}

@media (min-width: 1024px) {
  body {
    padding: 30px;
  }
}
