.make
/config.el

# Nix outputs
result

# Compiled
*.elc
.yas-compiled-snippets.el

# Packaging
.cask

# Per-machine configuration
default.el

# Internal
elpa
.cache
/projectile-bookmarks.eld
/magithub
/custom.el
/history
/auto-save-list/
/var/
/eln-cache/
/config-autoloads.el
